<div ng-controller="bottomSheetCtrl as sheet">
    <md-bottom-sheet class="md-grid">
        <md-list layout="row" layout-align="space-around center">
            <md-list-item ng-repeat="item in sheet.items">
                <a href="{{item.link}}" target="_blank" class="{{item.name}}">
                    <div class="md-grid-item-content">
                        <md-icon md-font-icon="{{item.icon}}" class="fa fa-2x"></md-icon>
                    </div>
                </a>
            </md-list-item>
        </md-list>
    </md-bottom-sheet>
</div>

<style>
    a:link {
        color: black;
    }
    a:visited {
        color: black;
    }
    .Facebook:hover {
        color: #3B5998;
    }
    .LinkedIn:hover {
        color: #0274B3;
    }
    .Google:hover {
        color: #EA483E;
    }
    .Twitter:hover {
        color: #4FA3E4;
    }
</style>
