<section class="blog-post" ng-controller="PostController as post">
    <div class="panel panel-default">
        <form action="/file-upload" ng-show="page.isLoggedIn()" data-fbref="{{post.getFBref()}}" data-postid="{{ post.postid }}" data-target="cover" id="coverimage-dropzone" class="dropzone needsclick dz-clickable">
            <div class="dz-message needsclick">
                <img ng-show="post.getData('image')" ng-src="{{ post.getData('image') }}" class="img-responsive coverimage"/>
                Drop files here or click to upload.
            </div>
            <div class="fallback">
                <input name="file" type="file" multiple/>
            </div>
        </form>
        <img ng-src="{{ post.getData('image') }}" ng-show="!page.isLoggedIn() && post.getData('image')" class="img-responsive coverimage"/>

        <div class="panel-body">
            <div class="blog-post-content">
                <h2 class="blog-post-title" material-title="post.post" postid="post.postid">{{ post.getData('title') }}</h2>
            </div>

            <div class="blog-post-meta">
                <span material-categories="post.post" postid="post.postid"></span>

                <p class="blog-post-date pull-right" material-datepicker="post.post" postid="post.postid"></p>
            </div>
            <div class="blog-post-content">
                <form ng-show="page.isLoggedIn()" data-fbref="{{post.getFBref()}}" data-postid="{{ post.postid }}" data-target="images">
                    <textarea name="content" data-hidden-buttons="cmdPreview" data-provide="markdown" rows="10">{{ post.getData('content') }}</textarea>
                </form>
                <div class="md-content" ng-show="!page.isLoggedIn()" ng-bind-html="post.contentHTML"></div>

                <a class="btn btn-info" ng-hide="post.isReadmorePage()" ui-sref="post({alias: post.getData('alias') })">Read more</a>
                <a class="blog-post-share pull-right" ng-click="post.toggleSharingBox()">
                    <i class="material-icons">&#xE80D;</i>
                </a>
            </div>
        </div>
        <ab-sharing></ab-sharing>
    </div>
</section>